@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montserrat&display=swap');

:root {
    --azul-1: hsl(201, 100%, 5%);
    --azul-2: hsla(201, 100%, 5%, 0.824);
    --laranja-1: #e76f51;
    --font-bacasime: 'Bacasime Antique', serif;
    --font-mont: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: url(Imagens/estrada.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-attachment: fixed;
    row-gap: 4em;
}

.toll-bar {
    width: 100%;
    height: 5vh;
    background-color: var(--azul-2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

header .container {
    width: 90vw;
}

.logo {
    width: 13rem;
    height: 13rem;
    background-color: var(--azul-1);
    cursor: pointer;
}

.transition-size {
    transition: transform 1s;
}

.transition-size:hover {
    transform: scale(1.1);
}

.transition-bkg {
    transition: background 1.3s;
}

.transition-bkg:hover {
    color: var(--azul-1);
    background-color: var(--laranja-1);
}

a {
    text-decoration: none;
    color: var(--laranja-1);
    font-family: var(--font-mont);
}

button {
    font-family: var(--font-mont);
    background-color: var(--azul-1);
    border: var(--laranja-1) 0.2em solid;
    color: var(--laranja-1);
    padding: 1.5em;
    cursor: pointer;
    font-weight: 800;
}

button:hover {
    border: var(--azul-1) solid 0.2em;
}

p {
    font-family: var(--font-mont);
    font-size: 1.5em;
}

.p-baca {
    font-family: var(--font-bacasime);
    color: var(--laranja-1);
}

.header__p-baca {
    font-size: 4em;
    color: antiquewhite;
    width: 58vw;
    margin-left: 4rem;
    border: none;
}

main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.section-nums {
    height: 80vh;
    background-color: var(--laranja-1);

}

.section-nums .container {
    width: 90vw;
}

h1 {
    font-family: var(--font-mont);
    color: var(--azul-1);
    font-size: 4em;
}

.box {
    background-color: var(--azul-1);
    color: var(--laranja-1);
    width: 15rem;
    height: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

h2 {
    font-family: var(--font-mont);
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
    font-family: var(--font-mont);
}

.section-emp {
    background: url(Imagens/predios-sol.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 175vw;
}

.section-emp .container {
    width: 90vw;
    padding: 1em;
}

.section-emp .container-2 {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--azul-1);
    color: antiquewhite;
    row-gap: 1em;
    padding: 1em;
}

.section-emp .container-2 h1 {
    color: var(--laranja-1);
}

.section-emp .box {
    width: 20rem;
    height: 20rem;
    background-color: var(--azul-2);
}

.section-emp .box p {
    color: antiquewhite;
}

.container-3 {
    background-color: var(--laranja-1);
    width: 90vw;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.container-3 h1 {
    color: var(--azul-1);
}

.container-3 p {
    text-align: left;
    width: 80%;
    align-self: center;
    color: var(--azul-1);
}

.section-inova {
    background: url(Imagens/homen.webp) no-repeat;
    background-size: cover;
}

.section-inova .container {
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-evenly;
}

.section-inova .container h1 {
    color: var(--laranja-1);
}

.section-inova .box {
    width: 80%;
    height: 20%;
    align-self: flex-start;
    padding: 1em;
    text-align: left;
}

.section-inova .container button {
    width: 85%;
    align-self: flex-start;
}